body {
	margin: 0;
	border: 0;
	font-family: sans-serif;
}

header {
	background-color: #282C72;
	overflow: hidden;
	z-index: 2;
}

.logo {
	height: 100px;
	widows: 230px;
	float: left;
}

.heading {
	
	color: white;
	font-size: 2em;
}

.links {
	background-color: #902C2C;
	padding: 18px;
}

.links a:focus, .links a:link, .links a:visited {
	text-decoration: none;
	color: white;
	padding: 17px 10px 17px 10px;
}

.links a:hover, {
	color: grey;
}

.homepage {
	background-image: url('Scope.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}


#box {
	background-color: white;
	opacity: 0.84	;
	margin: 30px 350px 30px 30px;
	padding: 20px 100px 20px 30px;
	text-align: justify;
	line-height: 2;
}

#box2 {
	background-color: #77CBF5;
	opacity: 0.8;
	padding: 30px;
	margin: 30px 50px 30px 50px;
}

#box3 {
	width: 180px;
	margin: 10px;
	padding: 5px 30px 5px 30px;
	float: left;
	color: white;
	text-align: center;
	border-radius: 10px;
}

hr {
	size: 2;
	color: black;
	margin: 60px 0 30px 0;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropbutton {
	background-color: #77CBF5;
	color: white;
	padding: 20px 160px 20px 160px;
	font-size: 1.5em;
	border: none;
	cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 620px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a:hover {
	background-color: #eeeeee;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  color: black;
  padding: 10px;
  text-decoration: none;
  display: block;
}

table{
	border-collapse: collapse;
}


th, td {
	border: 1px solid black;
	text-align: left;
	padding: 5px;
	width: 300px;
	border-collapse: collapse;
}

th {
	background-color: #282C72;
	color: white;
	opacity: 1;
}

tr:nth-child(even) {
	background-color: #dddddd;
}

